.jobs {
    padding-top: 6rem;
}

.jobs-content ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
}

.job-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8305fc;
    border-radius: 20px 20px 0 0;
    padding: 3rem;
    gap: 2rem;
}

.job-bottom  {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #362c43;
    border-radius: 0 0 20px 20px;
    padding: 3rem;
    gap: 2rem;
}

.job h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.job p {
    font-size: 2rem;
}

.job p span {
    color: var(--light-purple);
    font-weight: bold;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.top-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bottom-content {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.bottom-text {
    display: flex;
    align-items: flex-end;
}

.bottom-text p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bottom-text p span {
    color: lightcoral;
    font-size: 2.5rem;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    max-height: 150px;
    height: auto;
    width: auto;
    border-radius: 10px;
}

.separator i {
    color: white;
    font-size: 10rem;
}
