:root {
    --purple: #8305fc;
    --light-purple: #a83dff;
    --dark-purple: #461276;
}

.interest {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100vh;
    height: 100%;
    padding: 0em 2em 4em;
}

.menacing {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: none;
    pointer-events: none;
}

@keyframes shakeAndUp {
    0%, 100% {
        transform: translate(0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-10px, -10px);
    }
    20%, 40%, 60%, 80% {
        transform: translate(10px, 10px);
    }
}

.menacing {
    animation: shakeAndUp 5s infinite;
}



@media (max-width: 767px) {

    .interest-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 4rem;
    }

    .interest-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48%;
        margin-bottom: 5rem;
        transition: transform 0.5s ease;
    }

    .interest-box:hover {
        transform: scale(1.25);
    }

    .interest-circle img {
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        display: none;
        z-index: -1;
    }

    .interest-box i {
        font-size: 6rem;
        width: 15rem;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: var(--purple);
        border-radius: 50%;
    }

    .interest-circle {
        border-radius: 50%;
    }

    .interest-circle:hover img {
        display: block;
        animation: fadeInZoom 0.5s ease-in-out forwards;
    }

    .interest-circle:hover i {
        background: none;
        opacity: 0;
    }

    .interest-box p {
        margin-top: 10px;
        font-size: 3rem;
        transition: transform 0.5s ease;
    }
}

@media (min-width: 768px) {
    .interest-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .interest-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease;
    }


    .interest-circle img {
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        display: none;
        z-index: -1;
    }

    .interest-box i {
        font-size: 5rem;
        width: 15rem;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: var(--purple);
        border-radius: 50%;
    }

    .interest-circle {
        border-radius: 50%;
    }

    .interest-box:hover img {
        display: block;
        animation: fadeInZoom 0.5s ease-in-out forwards;
    }

    .interest-box:hover {
        transform: scale(1.5);
    }

    .interest-circle:hover i {
        background: none;
        opacity: 0;
    }

    .interest-box p {
        margin-top: 10px;
        font-size: 2rem;
        transition: transform 0.5s ease;
    }
}

.interest-circle:hover .audio-button i {
    display: flex;
    opacity: 0.5;
    cursor: pointer;
}

.interest-box i {
    position: relative;
    overflow: hidden;
}

.interest-box i:after {
    content: '';
    top: 0;
    left: 0;
    transform: rotate(45deg) translateX(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    animation: slide 4s infinite linear;
    background: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 80%, rgba(125,185,232,0) 100%);
}

@keyframes slide {
    0%, 62.5% {transform: rotate(45deg) translateX(-100%);}
    100% {transform: rotate(45deg) translateX(100%);}
}

.audio-button i {
    position: absolute;
    animation: none;
    background: none;
    z-index: 1;
    display: none;
}

.audio-button i:after {
    animation: none;
}