/* Root */

::selection {
    background-color: var(--purple);
}

:root {
    --purple: #8305FC;
    --light-purple: #a83dff;
    --yellow: #fcbe05;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alpino-Regular', sans-serif;
}

body, html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    max-width: 100%;
    margin-inline: auto;
    background: #29292b;
}

h1, h2, h3, p {
    font-family: 'Alpino-Regular', sans-serif;
    color: white;
}

.title {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8rem 0;
    padding: 4rem 0;
}

.title h1 {
    position: absolute;
    font-size: 15em;
    color: #ffffff40;
}

.title h2 {
    font-size: 7em;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 767px) {
    .title h1 {
        font-size: 12em;
    }

    .title h2 {
        font-size: 6em;
    }
}