:root {
    --purple: #8305FC;
    --light-purple: #b088d6;
    --not-white: #f5e2d7;
}

.about {
    max-width: 100vw;
    width: 100vh;
    padding: 4em 2em 4em;
}

.infos {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

.paragraph {
    font-size: 1.5rem;
    margin-top: 1.5em;
}

.paragraph strong {
    font-weight: bold;
}

.info-profile li {
    margin-top: 1.5em;
    color: white;
    font-size: 1.5rem;
}

.info-profile li span {
    font-weight: bold;
    color: var(--light-purple);
}

.info-profile li a {
    color: white;
}

.info-profile li a:hover {
    text-decoration: underline;
}